{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/stylesheet.css' %}">
</head>
<body>
    <header class="header">
        <img src="{% static 'img/promo.png' %}" alt="" class="header__promo">
        <div class="header__content">
            <nav class="header__navigation navigation">
                <p class="header__logo">LOGO</p>
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="{% url 'service'%}" class="navigation__link">Наши услуги</a></li>
                    <li class="navigation__item"><a href="{% url 'products'%}" class="navigation__link">Средства для ухода</a></li>
                    <li class="navigation__item"><a href="{% url 'masters'%}" class="navigation__link">Мастера</a></li>
                    <li class="navigation__item"><a href="{% url 'export_excel'%}" class="navigation__link">Скачать список записей</a></li>
                </ul>
            </nav>
            <div class="header__text">
                <p class="header__text">Добро пожаловат в наш салон красоты!</p>
                <h1 class="header__title">Выберите ваш лучший образ вместе с нашими мастерами и натуральными средствами для ухода!</h1>
                <p class="header__text">
                    Ваше тело многое делает для вас, и наши
                    заботливые мастера могут
                    помочь вам отблагодарить его так, чтобы это
                    принесло пользу как вашему физическому, так
                    и психическому здоровью.
                </p>
            </div>
        </div>
    </header>
    <main class="main">
        <section class="main__service service">
            <div class="service__wrapper">
                <h2 class="service__heading">Наши услуги</h2>
                <ul class="service__list">
                    <li class="service__item">
                        <img src="{% static 'img/service.jpg' %}" alt="" class="service__image">
                        <h3 class="service__title">Спа и массаж</h3>
                        <p class="service__text">Расслабьтесь во время индивидуального массажа и оздоровительных процедур.</p>
                        <a href="http://127.0.0.1:8000/service" class="service__button">Узнать больше</a>
                    </li>
                    <li class="service__item">
                        <img src="{% static 'img/service.jpg' %}" alt="" class="service__image">
                        <h3 class="service__title">Процедуры для тела</h3>
                        <p class="service__text">Снятие мышечного напряжения и усиление кровообращения в обрабатываемых областях.</p>
                        <a href="http://127.0.0.1:8000/service" class="service__button">Узнать больше</a>
                    </li>
                    <li class="service__item">
                        <img src="{% static 'img/service.jpg' %}" alt="" class="service__image">
                        <h3 class="service__title">Волосы и красота</h3>
                        <p class="service__text">Сочетание очищения и тонизирования кожи и ухода за волосами.</p>
                        <a href="http://127.0.0.1:8000/service" class="service__button">Узнать больше</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="main__product product">
            <h2 class="product__heading">Средства для ухода которыми мы пользуемся</h2>
            <ul class="product__list">
                <li class="product__item">
                    <img src="{% static 'img/Intersect.jpg' %}" alt="" class="product__image">
                    <h3 class="product__title">Кондиционер для восстановления волос</h3>
                    <p class="product__text">Гамма Pro Longer разработана специально для тех,
                        кто мечтает отрастить длинные волосы и сохранить их красоту. Кондиционер
                        питает волосы и дарит заметный результат
                    </p>
                    <a href="http://127.0.0.1:8000/products" class="product__button">Узнать больше</a>
                </li>
                <li class="product__item">
                    <img src="{% static 'img/Intersect.jpg' %}" alt="" class="product__image">
                    <h3 class="product__title">Кондиционер для восстановления волос</h3>
                    <p class="product__text">Гамма Pro Longer разработана специально для тех,
                        кто мечтает отрастить длинные волосы и сохранить их красоту. Кондиционер
                        питает волосы и дарит заметный результат
                    </p>
                    <a href="http://127.0.0.1:8000/products" class="product__button">Узнать больше</a>
                </li>
                <li class="product__item">
                    <img src="{% static 'img/Intersect.jpg' %}" alt="" class="product__image">
                    <h3 class="product__title">Кондиционер для восстановления волос</h3>
                    <p class="product__text">Гамма Pro Longer разработана специально для тех,
                        кто мечтает отрастить длинные волосы и сохранить их красоту. Кондиционер
                        питает волосы и дарит заметный результат
                    </p>
                    <a href="http://127.0.0.1:8000/products" class="product__button">Узнать больше</a>
                </li>
            </ul>
        </section>
        <section class="main__enroll enroll">
            <img src="{% static 'img/wash.jpg' %}" alt="" class="enroll__image">
            <div class="enroll__content">
                <h2 class="enroll__title">
                    Запишитесь на приём прямо сейчас и получите скидку 15%
                </h2>
                <a href="http://127.0.0.1:8000/service" class="enroll__button">Записаться</a>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <p>
                Пометун Вадим 211-323
            </p>
        </div>
    </footer>
    <!-- <script>
        let result
        async function getResponse() {
            let response = await fetch('http://127.0.0.1:8000/api/reg/', {method: 'GET'})
            result = await response.json()
            return result
        }
        getResponse()
        console.log(result)
    </script> -->
</body>
</html>