{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/stylesheet.css' %}">
</head>
<body>
    <header class="header">
        <img src="{% static 'img/service-promo.jpg' %}" alt="" class="header__promo">
        <div class="header__content">
            <nav class="header__navigation navigation">
                <p class="header__logo">LOGO</p>
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="{% url 'index'%}" class="navigation__link">Главная</a></li>
                    <li class="navigation__item"><a href="{% url 'service'%}" class="navigation__link">Наши услуги</a></li>
                    <li class="navigation__item"><a href="{% url 'products'%}" class="navigation__link">Средства для ухода</a></li>
                </ul>
            </nav>
            <div class="header__text">
                <p class="header__text">Услуги</p>
                <h1 class="header__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean orci tortor, porta 
                </h1>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper-service">
            <h2 class="main__title-service">
                Наши мастера
            </h2>
            <table class="main__table table">
                {% for elem in masters %}
                <tr>
                    <td>
                        <h3>
                            {{ elem.name }}
                        </h3>
                        <img src="{{ elem.photo.url }}" alt="">
                    </td>
                    <td>
                        <div class="table__shedule shedule">
                            {% for shdl in elem.shedule.all %}
                                <div class="shedule__day"><p class="shedule__time">Понедельник:</p> <p class="shedule__time">{{ shdl.monday }}</p></div> 
                                <div class="shedule__day"><p class="shedule__time">Вторник:</p> <p class="shedule__time">{{ shdl.tuesday }}</p></div> 
                                <div class="shedule__day"><p class="shedule__time">Среда:</p><p class="shedule__time">{{ shdl.wednesday }}</p> </div> 
                                <div class="shedule__day"><p class="shedule__time">Четверг:</p><p class="shedule__time">{{ shdl.thursday }}</p> </div> 
                                <div class="shedule__day"><p class="shedule__time">Пятница:</p><p class="shedule__time">{{ shdl.friday }}</p> </div> 
                                <div class="shedule__day"><p class="shedule__time">Суббота:</p><p class="shedule__time">{{ shdl.saturday }}</p> </div> 
                                <div class="shedule__day"><p class="shedule__time">Воскресенье:</p><p class="shedule__time">{{ shdl.sunday }}</p> </div> 
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <a href="" class="product__button">Записаться</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <p>
                Пометун Вадим 211-323
            </p>
        </div>
    </footer>   
</body>
</html>