{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/stylesheet.css' %}">
</head>
<body>
    <header class="header">
        <img src="{% static 'img/wash.jpg' %}" alt="" class="header__promo">
        <div class="header__content">
            <nav class="header__navigation navigation">
                <p class="header__logo">LOGO</p>
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="{% url 'index'%}" class="navigation__link">Главная</a></li>
                    <li class="navigation__item"><a href="{% url 'service'%}" class="navigation__link">Наши услуги</a></li>
                    <li class="navigation__item"><a href="{% url 'masters'%}" class="navigation__link">Мастера</a></li>
                </ul>
            </nav>
            <div class="header__text">
                <p class="header__text">Услуги</p>
                <h1 class="header__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean orci tortor, porta 
                </h1>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper-service">
            <h2 class="main__title-service">
                Средства, которыми пользуются наши мастера
            </h2>
            <table class="main__table table">
                {% for elem in products %}
                <tr>
                    <td>
                        <h3>
                            {{ elem.name }}
                        </h3>
                        <img src="{{ elem.photo.url }}" alt="">
                    </td>
                    <td>
                        {{ elem.description }}
                    </td>
                    <td>
                        {{ elem.price }} Рублей
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <p>
                Пометун Вадим 211-323
            </p>
        </div>
    </footer>   
</body>
</html>