{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/stylesheet.css' %}">
</head>
<body>
    <header class="header">
        <img src="{% static 'img/service-promo.jpg' %}" alt="" class="header__promo">
        <div class="header__content">
            <nav class="header__navigation navigation">
                <p class="header__logo">LOGO</p>
                <ul class="navigation__list">
                    <li class="navigation__item"><a href="{% url 'index'%}" class="navigation__link">Главная</a></li>
                    <li class="navigation__item"><a href="{% url 'products'%}" class="navigation__link">Средства для ухода</a></li>
                    <li class="navigation__item"><a href="{% url 'masters'%}" class="navigation__link">Мастера</a></li>
                </ul>
            </nav>
            <div class="header__text">
                <p class="header__text">Услуги</p>
                <h1 class="header__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean orci tortor, porta 
                </h1>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main__wrapper-service">
            <h2 class="main__title-service">
                Наши услуги
            </h2>
            <!-- {{ services.0.master.all.0 }} -->
            <!-- <p>
                {% for ar in arr %}
                    {{ar}}
                {% endfor %}
            </p> -->
            <form class="service__form" action="{% url 'service' %}" method="get">
                <label for="master">Поиск по мастеру</label>
                <select name="master" id="master" class="service__select">
                    <option value="">Показать всех</option>
                    {% for m in masters %}
                        <option value="{{ m.id }}">{{ m.name }}</option>
                    {% endfor %}
                </select>
                <button class="service__button" type="submit">Найти</button>
            </form>
            <table class="main__table table">
                <tr>
                    <th>
                        Услуга
                    </th>
                    <th>
                        Описание
                    </th>
                    <th>
                        Мастер
                    </th>
                </tr>
                {% for elem in arr %}
                <!-- {{elem.master.all.0}} -->
                <tr>
                    <td>
                        <h3>
                            {{ elem.name }}
                        </h3>
                        <img src="{{ elem.photo.url }}" alt="" class="table__image">
                    </td>
                    <td>
                        {{ elem.description }}
                    </td>
                    <td>
                        {% for mstr in elem.master.all %}
                            {{ mstr.name }}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="" class="product__button">Записаться</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
    <footer class="footer">
        <div class="footer__wrapper">
            <p>
                Пометун Вадим 211-323
            </p>
        </div>
    </footer>   
    <script>
        let result
        async function getResponse() {
            let response = await fetch('http://127.0.0.1:8000/api/service', {method: 'GET'})
            result = await response.json()
            return result
        }
        getResponse()
        console.log(result)
    </script>
    <style>
        .service__form {
            width: 80%;
            margin: 0  auto;
            display: flex;
            flex-direction: column;
        }

        .service__select {
            margin-top: 20px;
            margin-bottom: 20px;
            width: 200px;
            height: 50px;
        }

        .service__button {
            width: 200px;
            height: 50px;
            background-color: #EDCBAF;
        }


    </style>
</body>
</html>