@import '_service';

.enroll {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.enroll__image {
    width: 50%;
    object-fit: cover;
}

.enroll__content {
    width: 40%;
    margin: 0 auto;
}

.enroll__title {
    font-size: 2.5rem;
}

.enroll__button {
    @extend .service__button;   
}

@media (max-width: 920px) {
    .enroll__image {
        display: none;
    }

    .enroll__content {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 80%;
    }

    .enroll__title {
        width: 60%;
    }
}