html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
}

.header__logo {
    font-size: 1.5rem;
    font-weight: 800;
}

.header__promo {
    width: 50%;
    object-fit: cover;
}

.header__content {
    width: 40%;
    margin: 0 auto;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0;
    width: 80%;
}

.navigation__link {
    text-decoration: none;
    color: black;
}

.header__text {
    margin-top: 60px;
    font-size: 1rem;
}

.header__text {
    width: 80%;
}

.header__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 70px;
}

@media (max-width:920px) {
    .header__navigation {
        flex-direction: column;
    }

    .navigation__list {
        flex-direction: column;
        font-size: 2rem;
    }

    .navigation__link {
        margin: 20px auto;
    }
}


@media (max-width:1400px) {
    .header__promo {
        display: none;
    }


    .header__content {
        width: 80%;
    }

    .navigation__item {
        margin-top: 20px;
    }
}