@import '_service' ;

.product {
    width: 80%;
    margin: 0px auto;
}

.product__heading {
    @extend .service__heading;
    padding-top: 40px;
}

.product__list {
    @extend .service__list;
    width: 80%
}

.product__text {
    @extend .service__text;
}

.product__image {
    width: 100%;
}

.product__button {
    @extend .service__button;
}