.service {
    background-color: #EDCBAF;
}

.service__wrapper {
    width: 80%;
    margin: 0 auto;
}

.service__heading {
    font-size: 2rem;
    padding-top: 100px;
    margin: 0;
}

.service__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4%;
    margin: 60px auto;
    padding-left: 0;
    list-style-type: none;
    padding-bottom: 100px;
}

.service__text {
    margin-bottom: 40px;
}

.service__image {
    width: 100%;
}

.service__button {
    border: 2px solid black;
    padding: 10px;
    text-decoration: none;  
    color: black;
    &:active {
        background-color: black;
        color: white;
    }
}

.main__wrapper-service {
    background-color: #EDCBAF;
}

table {
    margin: 0 auto;
    width: 80%;
}



.main__title-service {
    margin-left: 10%;
    margin-top: 0;
    padding-top: 80px;
}

@media (max-width: 920px) {
    .service__list {
        grid-template-columns: 1fr 1fr;
    }    
}

@media (max-width: 690px) {
    .service__list {
        grid-template-columns: 1fr;
    }    
}