@media (max-width: 920px) {
    tr {
        display: flex;
        flex-direction: column;
    }

    table {
        width: 40%;
        margin: 0 auto;
        padding-bottom: 30px;
        width: 90%;
    }

    td {
        margin-top: 30px;
    }
}

.table__image {
    max-width: 20%;
    object-fit: cover;
    max-height: 200px;
}