html {
  font-family: "Courier New", Courier, monospace;
}

body {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: 800;
}

.header__promo {
  width: 50%;
  object-fit: cover;
}

.header__content {
  width: 40%;
  margin: 0 auto;
}

.header__navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0;
  width: 80%;
}

.navigation__link {
  text-decoration: none;
  color: black;
}

.header__text {
  margin-top: 60px;
  font-size: 1rem;
}

.header__text {
  width: 80%;
}

.header__title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 70px;
}

@media (max-width: 920px) {
  .header__navigation {
    flex-direction: column;
  }
  .navigation__list {
    flex-direction: column;
    font-size: 2rem;
  }
  .navigation__link {
    margin: 20px auto;
  }
}
@media (max-width: 1400px) {
  .header__promo {
    display: none;
  }
  .header__content {
    width: 80%;
  }
  .navigation__item {
    margin-top: 20px;
  }
}
.service {
  background-color: #EDCBAF;
}

.service__wrapper {
  width: 80%;
  margin: 0 auto;
}

.service__heading, .product__heading {
  font-size: 2rem;
  padding-top: 100px;
  margin: 0;
}

.service__list, .product__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4%;
  margin: 60px auto;
  padding-left: 0;
  list-style-type: none;
  padding-bottom: 100px;
}

.service__text, .product__text {
  margin-bottom: 40px;
}

.service__image {
  width: 100%;
}

.service__button, .enroll__button, .product__button {
  border: 2px solid black;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.service__button:active, .enroll__button:active, .product__button:active {
  background-color: black;
  color: white;
}

.main__wrapper-service {
  background-color: #EDCBAF;
}

table {
  margin: 0 auto;
  width: 80%;
}

.main__title-service {
  margin-left: 10%;
  margin-top: 0;
  padding-top: 80px;
}

@media (max-width: 920px) {
  .service__list, .product__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 690px) {
  .service__list, .product__list {
    grid-template-columns: 1fr;
  }
}
.service {
  background-color: #EDCBAF;
}

.service__wrapper {
  width: 80%;
  margin: 0 auto;
}

.service__heading, .product__heading {
  font-size: 2rem;
  padding-top: 100px;
  margin: 0;
}

.service__list, .product__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4%;
  margin: 60px auto;
  padding-left: 0;
  list-style-type: none;
  padding-bottom: 100px;
}

.service__text, .product__text {
  margin-bottom: 40px;
}

.service__image {
  width: 100%;
}

.service__button, .enroll__button, .product__button {
  border: 2px solid black;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.service__button:active, .enroll__button:active, .product__button:active {
  background-color: black;
  color: white;
}

.main__wrapper-service {
  background-color: #EDCBAF;
}

table {
  margin: 0 auto;
  width: 80%;
}

.main__title-service {
  margin-left: 10%;
  margin-top: 0;
  padding-top: 80px;
}

@media (max-width: 920px) {
  .service__list, .product__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 690px) {
  .service__list, .product__list {
    grid-template-columns: 1fr;
  }
}
.product {
  width: 80%;
  margin: 0px auto;
}

.product__heading {
  padding-top: 40px;
}

.product__list {
  width: 80%;
}

.product__image {
  width: 100%;
}

.service {
  background-color: #EDCBAF;
}

.service__wrapper {
  width: 80%;
  margin: 0 auto;
}

.service__heading, .product__heading {
  font-size: 2rem;
  padding-top: 100px;
  margin: 0;
}

.service__list, .product__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4%;
  margin: 60px auto;
  padding-left: 0;
  list-style-type: none;
  padding-bottom: 100px;
}

.service__text, .product__text {
  margin-bottom: 40px;
}

.service__image {
  width: 100%;
}

.service__button, .enroll__button, .product__button {
  border: 2px solid black;
  padding: 10px;
  text-decoration: none;
  color: black;
}
.service__button:active, .enroll__button:active, .product__button:active {
  background-color: black;
  color: white;
}

.main__wrapper-service {
  background-color: #EDCBAF;
}

table {
  margin: 0 auto;
  width: 80%;
}

.main__title-service {
  margin-left: 10%;
  margin-top: 0;
  padding-top: 80px;
}

@media (max-width: 920px) {
  .service__list, .product__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 690px) {
  .service__list, .product__list {
    grid-template-columns: 1fr;
  }
}
.enroll {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.enroll__image {
  width: 50%;
  object-fit: cover;
}

.enroll__content {
  width: 40%;
  margin: 0 auto;
}

.enroll__title {
  font-size: 2.5rem;
}

@media (max-width: 920px) {
  .enroll__image {
    display: none;
  }
  .enroll__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 80%;
  }
  .enroll__title {
    width: 60%;
  }
}
.footer {
  background-color: #09002E;
  margin: 0;
  padding: 10px;
}

.footer__wrapper {
  color: white;
}

@media (max-width: 920px) {
  tr {
    display: flex;
    flex-direction: column;
  }
  table {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 90%;
  }
  td {
    margin-top: 30px;
  }
}
.table__image {
  max-width: 20%;
  object-fit: cover;
  max-height: 200px;
}/*# sourceMappingURL=style.css.map */